<% include headerPresta %>


<div class="container-fluid">
  <div class="row-fluid">
    <legend>Prestations</legend>
    
        <div class="form-group control-group ">
          <div  class="btn-group btn-group-toggle" data-toggle="buttons" id="sumselector">
            <label id="radio3" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample3" autocomplete="off" value ="8"> Prestations
            </label>
            <label id="radio1" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample1" autocomplete="off" value ="6"> Annexes
            </label>
          </div>
        </div>

        <div class="form-group control-group" id="doc1" hidden="true">
           <div class="custom-file">
               <span>Identifiants de la prestations 
					<select id="numPrestations" >
					</select>
				</span>
            </div>
        </div>
        </div>
		<div class="form-group control-group" id="doc2" hidden="true">
		   <table class="display" id="tableAnnexe">
			<thead>
				<tr>
					<th>Désignation</th>
					<th>Formation</th>
					<th>Taux horaire TTC</th>
					<th>Unité (heure/forfait)</th>
					<th>Quantité estimative</th>
					<th>Taux horaire H.T</th>
					<th>Montant total € H.T</th>
					<th>TVA</th>
				</tr>
			</thead>
		   </table>
        </div>
		<div class="form-group control-group" id="doc3" hidden="true"></div>
		<div class="form-group control-group" id="doc4" hidden="true">
           <table class="display" id="tablePresta">
			<thead>
				<tr>
					<th>Id</th>
					<th>Responsable suivi marché</th>
					<th>Autre coordinateur</th>
					<th>Urgent</th>
					<th>Matière</th>
					<th>Raison sociale</th>
					<th>Intervenant</th>
					<th>TVA</th>
					<th>Tarif TTC niv1</th>
					<th>Tarif TTC niv2</th>
					<th>Tarif TTC niv3</th>
					<th>Tarif TTC coding</th>
					<th>Tarif TTC FCP1</th>
					<th>Nb heures tarif FCP1</th>
					<th>Tarif TTC FCP2</th>
					<th>Nb heures tarif FCP2</th>
					<th>Tarif TTC FCP3</th>
					<th>Nb heures tarif FCP3</th>
					<th>Tarif TTC FCP4</th>
					<th>Nb heures tarif FCP4</th>
					<th>Visite entreprise tarif TTC 1</th>
					<th>Nb heures visite tarif 1</th>
					<th>Visite téléphonique tarif TTC 2</th>
					<th>Nb heures visite téléphonique tarif 2</th>
					<th>Visite téléphonique tarif TTC 3</th>
					<th>Nb heures visite tarif 3</th>
					<th>SRE Tarif TTC</th>
					<th>SRE nombre d'heures</th>
					<th>Formation1</th>
				</tr>
				</thead>
			</table>
        </div>
      </div>
	  
  </div>
</div>
<script type="text/javascript">
var editorPresta;
var editorAnnexe;

var tradData={
            "lengthMenu": "Afficher _MENU_ lignes par page",
			"sLengthMenu": "Afficher _MENU_ éléments",
            "zeroRecords": "Aucune donnée trouvée",
            "info": "Page _PAGE_ sur _PAGES_",
            "infoEmpty": "Aucune donnée disponisble",
            "paginate": {
				"first":"Premier",
				"last":"Dernier",
				"next":"Suivant",
				"previous":"Précédent"
			},
			"search":"Rechercher:",
			"select": {
				"rows":{
					_: "%d éléments sélectionnés",
                    1: "%d élément sélectionné",
					0: ""
				}
			}
        };
var tradEditor= {
            create: {
                button: "Nouveau",
                title:  "Créer nouvelle entrée",
                submit: "Créer"
            },
            edit: {
                button: "Modifier",
                title:  "Modifier entrée",
                submit: "Actualiser"
            },
            remove: {
                button: "Supprimer",
                title:  "Supprimer",
                submit: "Supprimer",
                confirm: {
                    _: "Etes-vous sûr de vouloir supprimer %d lignes?",
                    1: "Etes-vous sûr de vouloir supprimer 1 ligne?"
                }
            },
            error: {
                system: "Une erreur s’est produite, contacter l’administrateur système"
            },
            datetime: {
                previous: 'Précédent',
                next:     'Premier',
                months:   [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
                weekdays: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ]
            }
        };

$(document).ready(function() {
	//tableau Prestations
    editorPresta = new $.fn.dataTable.Editor( {
        //ajax: "../php/staff.php",
        table: "#tablePresta",
        i18n: tradEditor,
		fields: [ {
                label: "Responsable suivi marché:",
                name: "responsable_suivi_marche",
				type:  "select",
                options: [
                    { label: "Mohamed Bougga", value: "Mohamed Bougga" },
                    { label: "Bernard Borel", value: "Bernard Borel" },
                    { label: "Fériel Bouakazz", value: "Fériel Bouakazz" }
                ]
            }, {
                label: "Autre coordinateur:",
                name: "autre_coordinateur"
            }, {
                label: "Urgent:",
                name: "urgent"
            }, {
                label: "Matière:",
                name: "matiere"
            }, {
                label: "Raison sociale:",
                name: "raison_sociale"
            }, {
                label: "Intervenant:",
                name: "intervenant",
				type:  "select",
                options: [
                    { label: "Rabah Hamiane", value: "Rabah Hamiane" },
                    { label: "François Cornet", value: "François Cornet" },
                    { label: "Carina Roels", value: "Carina Roels" }
                ]
            }, {
                label: "TVA:",
                name: "tva"
            }, {
                label: "Tarif TTC niv1:",
                name: "tarif_ttc_niv1"
            }, {
                label: "Tarif TTC niv2:",
                name: "tarif_ttc_niv2"
            }, {
                label: "Tarif TTC niv3:",
                name: "tarif_ttc_niv3"
            }, {
                label: "Tarif TTC coding:",
                name: "tarif_ttc_coding"
            }, {
                label: "Tarif TTC FCP1:",
                name: "tarif_ttc_fcp1"
            }, {
                label: "Nb heures tarif FCP1:",
                name: "nb_heures_tarif_fcp1"
            }, {
                label: "Tarif TTC FCP2:",
                name: "tarif_ttc_fcp2"
            }, {
                label: "Nb heures tarif FCP2:",
                name: "nb_heures_tarif_fcp2"
            }, {
                label: "Tarif TTC FCP3:",
                name: "tarif_ttc_fcp3"
            }, {
                label: "Nb heures tarif FCP3:",
                name: "nb_heures_tarif_fcp3"
            }, {
                label: "Tarif TTC FCP4:",
                name: "tarif_ttc_fcp4"
            }, {
                label: "Nb heures tarif FCP4:",
                name: "nb_heures_tarif_fcp4"
            }, {
                label: "Visite entreprise tarif TTC 1:",
                name: "vis_ent_tarif1"
            }, {
                label: "Nb heures visite entreprise tarif 1:",
                name: "nb_heures_vis_ent_tarif1"
            }, {
                label: "Visite téléphonique tarif TTC 2:",
                name: "vis_tel_tarif2"
            }, {
                label: "Nb heures visite téléphonique tarif 2:",
                name: "nb_heures_vis_tel_tarif2"
            }, {
                label: "Visite téléphonique tarif TTC 3:",
                name: "vis_ent_tarif3"
            }, {
                label: "Nb heures visite tarif 3:",
                name: "nb_heures_vis_tarif3"
            }, {
                label: "SRE Tarif TTC:",
                name: "sre_tarif_ttc"
            }, {
                label: "SRE nombre d'heures:",
                name: "sre_nb_heures"
            }
        ]
    } );
 
    $('#tablePresta').DataTable( {
        dom: "Bfrtip",
        //ajax: "../php/staff.php",
		"scrollX": true,
		"language": tradData,
        columns: [
			{ visible: false, data: null},
            { data: "responsable_suivi_marche"},
            { data: "autre_coordinateur" },
            { data: "urgent" },
			{ data: "matiere" },
            { data: "raison_sociale" },
            { data: "intervenant" },
			{ data: "tva" },
			{ data: "tarif_ttc_niv1" },
			{ data: "tarif_ttc_niv2" },
			{ data: "tarif_ttc_niv3" },
			{ data: "tarif_ttc_coding" },
			{ data: "tarif_ttc_fcp1" },
			{ data: "nb_heures_tarif_fcp1" },
			{ data: "tarif_ttc_fcp2" },
			{ data: "nb_heures_tarif_fcp2" },
			{ data: "tarif_ttc_fcp3" },
			{ data: "nb_heures_tarif_fcp3" },
			{ data: "tarif_ttc_fcp4" },
			{ data: "nb_heures_tarif_fcp4" },
			{ data: "vis_ent_tarif1" },
			{ data: "nb_heures_vis_ent_tarif1" },
			{ data: "vis_tel_tarif2" },
			{ data: "nb_heures_vis_tel_tarif2" },
			{ data: "vis_ent_tarif3" },
			{ data: "nb_heures_vis_tarif3" },
			{ data: "sre_tarif_ttc" },
			{ data: "sre_nb_heures" },
            { data: "formation1" }
        ],
        select: true,
        buttons: [
            { extend: "create", editor: editorPresta },
            { extend: "edit",   editor: editorPresta },
            { extend: "remove", editor: editorPresta }
        ],
		 "columnDefs": [{ "targets": -1, "data": null, "defaultContent": "<button id='btnDetails' class='btn btn-success' width='25px'>Détails</button>"}]
    } );
	
	//Tableau Annexes
    editorAnnexe = new $.fn.dataTable.Editor( {
        //ajax: "../php/staff.php",
        table: "#tableAnnexe",
		i18n: tradEditor,
        fields: [ {
                label: "Désignation:",
                name: "designation"
            }, {
                label: "Formation:",
                name: "formation"
            }, {
                label: "Taux horaire TTC:",
                name: "taux_horaire_ttc"
            }, {
                label: "Unité (heure/forfait):",
                name: "unite"
            }, {
                label: "Quantité estimative:",
                name: "quantite_estimative"
            }, {
                label: "Taux horaire H.T:",
                name: "taux_horaire_ht"
            }
        ]
    } );
 
    $('#tableAnnexe').DataTable( {
        dom: "Bfrtip",
        //ajax: "../php/staff.php",
        columns: [
            { data: "designation"},
            { data: "formation" },
            { data: "taux_horaire_ttc" },
            { data: "unite" },
			{ data: "quantite_estimative" },
			{ data: "taux_horaire_ht" },
			{ data: "montant_total_ht" },
			{ data: "tva" }
        ],
        select: true,
		"language": tradData,
        buttons: [
            { extend: "create", editor: editorAnnexe },
            { extend: "edit",   editor: editorAnnexe },
            { extend: "remove", editor: editorAnnexe }
        ]
	} );
} );

</script>
  <% include footer %>
