<% include header %>


<div class="container-fluid">
  <div class="row-fluid">
    <legend>Appel d'offre</legend>
    <form action="/offre" method="post" enctype="multipart/form-data">
      <input type="hidden" name="form" value="offre">
      <div class="form-group control-group col-md-2">
        <label for="selectMenu" class="control-label">Année :</label>
        <select id="selectMenu" class="custom-select" name="annee">

          <%a=new Date().getFullYear();for (var i = a; i < a+3; i++){b=i+1;%>
            <option value="<%-i%>-<%-b%>"><%-i%>-<%-b%></option>
            <%}%>

          </select>
        </div>


        <div class="form-group control-group col-md-3">
          <label class="control-label">Somme :</label>
          <div  class="btn-group btn-group-toggle" data-toggle="buttons" id="sumselector">
            <label id="radio1" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample1" autocomplete="off" value ="6"> Moins de 5K
            </label>
            <label id="radio2" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample2" autocomplete="off" value ="7"> Entre 5K et 25K
            </label>
            <label id="radio3" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample3" autocomplete="off" value ="8"> Entre 25K et 90K
            </label>
            <label id="radio4" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample4" autocomplete="off" value ="9"> Plus de 90K
            </label>
          </div>
        </div>

        <div class="form-group control-group col-md-3" id="doc1" hidden="true">
           <div class="custom-file">
               <input type="file" name="docs" class="custom-file-input" lang="fr" id="inputGroupFile02" >
               <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Devis 1</label>
            </div>
        </div>
        </div>
        <div class="form-group control-group col-md-3" id="doc2" hidden="true">
           <div class="custom-file">
               <input type="file" name="docs" class="custom-file-input input-group-sm mb-3" id="inputGroupFile02" lang="fr">
               <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Devis 2</label>
           </div>
        </div>

        <div class="form-group control-group col-md-3" id="doc3" hidden="true">
           <div class="custom-file">
                                <input type="file" name="docs" class="custom-file-input" id="inputGroupFile02" lang="fr">
                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Devis 3</label>
                            </div>
        </div>

        <div class="form-group control-group col-md-3" id="doc4" hidden="true">
           <div class="custom-file">
               <input type="file" name="docs" class="custom-file-input" id="inputGroupFile02" lang="fr">
               <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">RIB</label>
           </div>
        </div>

        <div class="form-group control-group col-md-3" id="doc5" hidden="true">
           <div class="custom-file">
               <input type="file" name="docs" class="custom-file-input" id="inputGroupFile02" lang="fr">
               <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">PTF</label>
           </div>
        </div>

        <div class="form-group control-group col-md-3" id="doc6" hidden="true">
             <div class="custom-file">
                 <input type="file" name="docs" class="custom-file-input" id="inputGroupFile02" lang="fr">
                 <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Publication</label>
             </div>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc9" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile10" lang="fr">
          <label class="custom-file-label" for="inputGroupFile09" aria-describedby="inputGroupFileAddon10">Attestation de vigilance de - 3 mois </label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc10" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile11" lang="fr">
          <label class="custom-file-label" for="inputGroupFile10" aria-describedby="inputGroupFileAddon11">Attestation de régularité fiscale </label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc11" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile12" lang="fr">
          <label class="custom-file-label" for="inputGroupFile11" aria-describedby="inputGroupFileAddon11">Si salariés étrangers la liste nominative des salariés soumis à autorisation de travail</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc12" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile13" lang="fr">
          <label class="custom-file-label" for="inputGroupFile12" aria-describedby="inputGroupFileAddon12">Autre document </label>
        </div>
      </div>

      <div id="moredocs">

      </div>

      <div id="adddoc" onclick="addDocument();"  class="form-group control-group col-md-3" hidden="true" data-toggle="tooltip" data-placement="right" title="Ajouter des documents supplémentaires" >
        <i id="plus-sign" class="fas fa-plus-square text-success fa-lg"></i>
      </div>
      <div class="form-group control-group col-md-3">
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>

    </div>
  </form>
</div>
</div>
<script type="text/javascript">

  $('.custom-file input').change(function (e) {
      var files = [];
      for (var i = 0; i < $(this)[0].files.length; i++) {
          files.push($(this)[0].files[i].name);
      }
      $(this).next('.custom-file-label').html(files.join(', '));
  });

</script>
  <% include footer %>
