<% include header %>


<div class="container-fluid">
  <div class="row-fluid">
    <legend>Prestations</legend>
    
        <div class="form-group control-group ">
          <div  class="btn-group btn-group-toggle" data-toggle="buttons" id="sumselector">
            <label id="radio3" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample3" autocomplete="off" value ="8"> Prestations
            </label>
            <label id="radio1" class="btn btn-secondary btn-sm">
              <input type="radio" name="workflow" id="defaultGroupExample1" autocomplete="off" value ="6"> Annexes
            </label>
          </div>
        </div>

        <div class="form-group control-group" id="doc1" hidden="true">
           <div class="custom-file">
               <span>Identifiants de la prestations 
					<select id="numPrestations" >
					</select>
				</span>
            </div>
        </div>
        </div>
		<div class="form-group control-group" id="doc2" hidden="true">
           <button id="addRow" >ajouter une nouvelle ligne</button>
		</div>
		<div class="form-group control-group" id="doc3" hidden="true">
		   <table class="table-condensed" id="tableAnnexe"></table>
        </div>
		
		<div class="form-group control-group" id="doc5" hidden="true">
           <table class="table-condensed" id="tablePresta"></table>
        </div>
		<button id="valider" type="submit" class="btn btn-primary" style="display:none">Valider</button>
      </div>
	  
  </div>
</div>
<script type="text/javascript">
$(document).ready( function () {  
  	
	var dataT= [["Cours","M2I","12","Heure","7","20%"]];
  
    var t=$('#tableAnnexe').DataTable({
        "data": dataT,
		"columns": [
            { "title": "Designation" },
            { "title": "Formation" },
            { "title": "Taux horaire" },
            { "title": "Unite" },
            { "title": "Quantite" },
            { "title": "TVA" }
        ],
		"paging":   false,
        "ordering": false,
        "info":     false
    });
	
	$('#addRow').on( 'click', function () {
        document.getElementById("valider").style.display = "block";
		t.row.add( [
            '.1',
            '.2',
            '.3',
            '.4',
            '.5',
			'.6'
        ] ).draw();
    } );

	$('#valider').on( 'click', function () {
        document.getElementById("valider").style.display = "none";
		});
	
	$('#tablePresta').DataTable({
        "columns": [
            { "title": "Responsable" },
            { "title": "Autre responsable" },
            { "title": "Matière" },
            { "title": "Raison sociale" },
            { "title": "Intervenant" },
            { "title": "TVA" }
        ],
        "ordering": false,
        "info":     false
    });
} );

</script>
  <% include footer %>
