<% include header %>


<div class="container-fluid">
  <div class="row-fluid">
    <legend>Appel d'offre</legend>
    <form id="form-offre" action="/offre" method="post" enctype="multipart/form-data">
      <input type="hidden" name="form" value="offre">
      <div class="form-group control-group col-md-2">
        <label for="selectMenu" class="control-label">Année :</label>
        <select id="selectMenu" class="custom-select" name="annee">

          <%a=new Date().getFullYear();for (var i = a; i < a+3; i++){b=i+1;%>
            <option value="<%-i%>-<%-b%>"><%-i%>-<%-b%></option>
            <%}%>

          </select>
        </div>
      </div>

      <div class="form-group control-group col-md-12">
        <label class="control-label">Somme :</label>
        <div  class="btn-group btn-group-toggle" data-toggle="buttons" id="sumselector">
          <label id="radio1" class="btn btn-secondary btn-sm">
            <input type="radio" name="workflow" id="defaultGroupExample1" autocomplete="off" value ="6"> Moins de 5K
          </label>
          <label id="radio2" class="btn btn-secondary btn-sm">
            <input type="radio" name="workflow" id="defaultGroupExample2" autocomplete="off" value ="7"> Entre 5K et 25K
          </label>
          <label id="radio3" class="btn btn-secondary btn-sm">
            <input type="radio" name="workflow" id="defaultGroupExample3" autocomplete="off" value ="8"> Entre 25K et 90K
          </label>
          <label id="radio4" class="btn btn-secondary btn-sm">
            <input type="radio" name="workflow" id="defaultGroupExample4" autocomplete="off" value ="9"> Plus de 90K
          </label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc1" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" lang="fr" id="inputGroupFile01" >
          <label class="custom-file-label" for="inputGroupFile01" aria-describedby="inputGroupFileAddon01">Devis</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc2" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile02" lang="fr">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">RIB</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc3" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile03" lang="fr">
          <label class="custom-file-label" for="inputGroupFile03" aria-describedby="inputGroupFileAddon03">PTF</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc4" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile04" lang="fr">
          <label class="custom-file-label" for="inputGroupFile04" aria-describedby="inputGroupFileAddon04">Extrait de K BIS</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc5" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input input-group-sm mb-3" id="inputGroupFile05" lang="fr">
          <label class="custom-file-label" for="inputGroupFile05" aria-describedby="inputGroupFileAddon05">CV des enseignants présentis</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc6" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile06" lang="fr">
          <label class="custom-file-label" for="inputGroupFile06" aria-describedby="inputGroupFileAddon06">Copie des diplômes pour chaque enseignant</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc7" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile07" lang="fr">
          <label class="custom-file-label" for="inputGroupFile07" aria-describedby="inputGroupFileAddon07">Extrait de casier judiciaire</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc8" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile08" lang="fr">
          <label class="custom-file-label" for="inputGroupFile08" aria-describedby="inputGroupFileAddon09">Numéro de formateur (obligatoire si interventions en formation professionnelle)</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc9" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile10" lang="fr">
          <label class="custom-file-label" for="inputGroupFile09" aria-describedby="inputGroupFileAddon10">Attestation de vigilance de – 3 mois </label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc10" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile11" lang="fr">
          <label class="custom-file-label" for="inputGroupFile10" aria-describedby="inputGroupFileAddon11">Attestation de régularité fiscale </label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc11" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile12" lang="fr">
          <label class="custom-file-label" for="inputGroupFile11" aria-describedby="inputGroupFileAddon12">Si salariés étrangers la liste nominative des salariés soumis à autorisation de travail</label>
        </div>
      </div>

      <div class="form-group control-group col-md-5" id="doc12" hidden="true">
        <div class="custom-file">
          <input type="file" name="docs" class="custom-file-input" id="inputGroupFile13" lang="fr">
          <label class="custom-file-label" for="inputGroupFile12" aria-describedby="inputGroupFileAddon13">Autre document </label>
        </div>
      </div>

      <div id="moredocs">

      </div>

      <div id="adddoc" class="form-group control-group col-md-3" hidden="true">
        <i data-toggle="tooltip" data-placement="right" title="Ajouter des documents supplémentaires" onclick="addDocument();" id="plus-sign" class="fas fa-plus-square text-success"></i>
      </div>
      <div class="form-group control-group col-md-3">
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>

    </div>
  </form>
</div>
</div>
<script type="text/javascript">

  $('.custom-file input').change(function (e) {
    var files = [];
    for (var i = 0; i < $(this)[0].files.length; i++) {
      files.push($(this)[0].files[i].name);
    }
    $(this).next('.custom-file-label').html(files.join(', '));
  });

</script>
<% include footer %>
