<% include header %>
<div class="container-fluid">
  <div class="row-fluid">
    <legend>Code de vérification</legend>
    <form action="/code" method="post">

      <input type="hidden" name="mail" value="<%- locals.mail %>">

      <p> Vous avez reçu un mail à l'adresse <%- locals.mail %> celui-ci contient un code de vérification.</p>

      <div class="form-group col-md-3">
        <label for="code">Code :</label>
        <input type="text" class="form-control" name="code" id="code">
      </div>

      <button type="submit" class="btn btn-primary">Valider</button>

    </form>
  </div>
</div>
<% include footer %>
