<!doctype html>
<html lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" href="css/bootstrap.css" rel="stylesheet">
		<link type="text/css" href="css/bootstrap-reboot.css" rel="stylesheet">
		<link type="text/css" href="css/bootstrap-grid.css" rel="stylesheet">
		<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<link type="text/css" href="css/loader.css" rel="stylesheet">
		<script type="application/javascript" src="js/disenable.js"></script>
		<script type="application/javascript" src="js/DataTables/datatables.min.js"></script>
		<title>GEDi</title>
	</head>
<body class="login">
	<div class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
	 <img src="img/logo.png" height="30" class="d-inline-block align-top" alt="">
 	</a>
	<% if (locals.user){ %>
		<a href="/disconnect">
	<span class="navbar-text">
		<%- user %>
		&nbsp;
      <i class="h4 fas fa-power-off"></i>
    </span>
		</a>
		<% }%>
  </div>
